body input, body textarea {
    display: block;
    width: 100%;
    padding: 3px 1.5rem;
}


/*------------------- Typography styles ------------------- */
h1 {
    font-family: 'Titan one',sans-serif;
}

body h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: 0.1em;
    margin-bottom: 1.2em;
}

h3,
h4 {
    font-family: 'Montserrat', sans-serif;
}

/*------------------- Header and footer styles ------------------- */
header a {
    display: inline-block;
}

footer a {
    display: block;
}

/*-------------------  Color utility classes ------------------- */
.pink {
    background-color: #EEC1DC;
}

.orange {
    background-color: #FE953D;
}

.yellow {
    background-color: #FEC001;
}